!!! 5
%html{html_attrs}
  %head
    %meta{:charset => 'utf-8'}
    %title= @title
    = stylesheet_link_tag("/stylesheets/studios.css")
    = javascript_include_tag("http://code.jquery.com/jquery-1.5.min.js", "/javascripts/modernizr-1.6.min.js", "/javascripts/application.js")
  %body#montgomerystudios_com.default
    = yield