/* __________________________________
 * Title: Montgomery Studios
 * Author: Michael Montgomery
 * URL: montgomerystudios.com
 *
 * Created: June 4, 2008
 * Modified: September 20, 2011
 *
 * Colors: Blue:#263B85 Dark Blue:#1B2A5E Tan:#DFC97A
 * Toupe:#978440 Dark taupe:#66502B New Toupe: #DED6B5
 *_______________________________ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.font-helvetica {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

a {
  color: green;
  text-decoration: none;
}
a:hover {
  color: #00b300;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label {
  cursor: pointer;
}

input[type="button"], input[type="submit"], input[type="image"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  margin: 0;
}

input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0px 0px 5px;
  -webkit-box-shadow: red 0px 0px 5px;
  -o-box-shadow: red 0px 0px 5px;
  box-shadow: red 0px 0px 5px;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #ffd6d6;
}

a:link {
  -webkit-tap-highlight-color: #59bef2;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

body, select, input, textarea {
  color: #444444;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.ir, .image-replacement {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden, .visually-hidden, .vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .focusable.visually-hidden:active, .focusable.vh:active, .visuallyhidden.focusable:focus, .focusable.visually-hidden:focus, .focusable.vh:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.font-helvetica {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.grid-pie-clearfix, .grid-container, .nested-grid-container, .grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  *zoom: 1;
}
.grid-pie-clearfix:after, .grid-container:after, .nested-grid-container:after, .grid-block:after, .grid-full:after, .grid-1:after, .grid-2:after, .grid-3:after, .grid-4:after, .grid-5:after, .grid-6:after, .grid-7:after, .grid-8:after, .grid-9:after, .grid-10:after, .grid-11:after, .grid-12:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  margin: 0 auto;
  width: 960px;
}

.nested-grid-container {
  display: inline-block;
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}

.grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  position: relative;
  margin: 0 10px;
}

.grid-full {
  width: 940px;
}

.grid-1 {
  width: 60px;
}

.grid-2 {
  width: 140px;
}

.grid-3 {
  width: 220px;
}

.grid-4 {
  width: 300px;
}

.grid-5 {
  width: 380px;
}

.grid-6 {
  width: 460px;
}

.grid-7 {
  width: 540px;
}

.grid-8 {
  width: 620px;
}

.grid-9 {
  width: 700px;
}

.grid-10 {
  width: 780px;
}

.grid-11 {
  width: 860px;
}

.grid-12 {
  width: 940px;
}

.grid-prefix-1 {
  margin-left: 90px;
}

.grid-prefix-2 {
  margin-left: 170px;
}

.grid-prefix-3 {
  margin-left: 250px;
}

.grid-prefix-4 {
  margin-left: 330px;
}

.grid-prefix-5 {
  margin-left: 410px;
}

.grid-prefix-6 {
  margin-left: 490px;
}

.grid-prefix-7 {
  margin-left: 570px;
}

.grid-prefix-8 {
  margin-left: 650px;
}

.grid-prefix-9 {
  margin-left: 730px;
}

.grid-prefix-10 {
  margin-left: 810px;
}

.grid-prefix-11 {
  margin-left: 890px;
}

.grid-suffix-1 {
  margin-right: 90px;
}

.grid-suffix-2 {
  margin-right: 170px;
}

.grid-suffix-3 {
  margin-right: 250px;
}

.grid-suffix-4 {
  margin-right: 330px;
}

.grid-suffix-5 {
  margin-right: 410px;
}

.grid-suffix-6 {
  margin-right: 490px;
}

.grid-suffix-7 {
  margin-right: 570px;
}

.grid-suffix-8 {
  margin-right: 650px;
}

.grid-suffix-9 {
  margin-right: 730px;
}

.grid-suffix-10 {
  margin-right: 810px;
}

.grid-suffix-11 {
  margin-right: 890px;
}

.grid-push-1 {
  left: 80px;
}

.grid-push-2 {
  left: 160px;
}

.grid-push-3 {
  left: 240px;
}

.grid-push-4 {
  left: 320px;
}

.grid-push-5 {
  left: 400px;
}

.grid-push-6 {
  left: 480px;
}

.grid-push-7 {
  left: 560px;
}

.grid-push-8 {
  left: 640px;
}

.grid-push-9 {
  left: 720px;
}

.grid-push-10 {
  left: 800px;
}

.grid-push-11 {
  left: 880px;
}

.grid-pull-1 {
  left: -40px;
}

.grid-pull-2 {
  left: -80px;
}

.grid-pull-3 {
  left: -120px;
}

.grid-pull-4 {
  left: -160px;
}

.grid-pull-5 {
  left: -200px;
}

.grid-pull-6 {
  left: -240px;
}

.grid-pull-7 {
  left: -280px;
}

.grid-pull-8 {
  left: -320px;
}

.grid-pull-9 {
  left: -360px;
}

.grid-pull-10 {
  left: -400px;
}

.grid-pull-11 {
  left: -440px;
}

a {
  color: #231f20;
}
a:hover {
  color: #0f4260;
}
a:focus {
  outline: invert dotted 1px;
}

abbr, acronym, .help {
  border-bottom: 1px dotted #333333;
  cursor: help;
}

abbr, acronym, .caps {
  letter-spacing: 0.1em;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
}

blockquote {
  font-style: italic;
}

body {
  background: #bda986 url(../images/66.jpg) no-repeat fixed left top;
  color: black;
  font-family: "Hoefler Text", Constantia, Garamond, "Times New Roman", serif;
  font-size: 75%;
  line-height: 1.5;
  text-align: center;
}

code {
  font-family: "Andale Mono", "Lucida Console", Consolas, monospace;
}

em {
  font-style: italic;
}

html > body {
  font-size: 12px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 133%;
}

h5 {
  font-size: 117%;
}

h6 {
  font-size: 100%;
}

hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

p {
  font-size: 117%;
  margin-bottom: 1em;
  max-width: 36em;
  min-width: 12em;
  hyphenate: auto;
  hyphenate-lines: 3;
}

pre {
  margin: 1em;
}

q {
  font-style: italic;
  quotes: "\2018" "\2019" "\201C" "\201D";
}
q:before {
  content: "\2018";
}
q:after {
  content: "\2019";
}

#container {
  background: url(../images/68.png) repeat-x left top;
  text-align: left;
  width: 100%;
}

#accessibility {
  position: absolute;
  top: -10000px;
}

#header {
  background: url(../images/65.png) no-repeat 220px 0;
  height: 280px;
}

#logo {
  float: left;
  margin: 96px 0 0;
}

#nav {
  float: right;
  font-family: Calibri, "Helvetica Neue", Helvetica, "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
  margin-top: 150px;
  overflow: hidden;
}

#feature, #ancillary {
  background-color: rgba(222, 215, 180, 0.7);
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
}

#footer {
  background: url(../images/79.png) repeat-x left top;
  clear: both;
  margin: 2em 0;
  padding: 2em 1em 1em;
}

#nav li {
  border-right: 1px solid #1b2a5e;
  float: left;
  height: 124px;
  width: 116px;
}
#nav li:first-child {
  border-left: 1px solid #1b2a5e;
}
#nav li a {
  background: #263b85 url(../images/68.png) repeat-x 0 -150px;
  color: #dddddd;
  display: block;
  font-size: 1.2em;
  height: 34px;
  letter-spacing: 1px;
  padding-top: 90px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#nav li a:hover {
  background: #1b2a5e;
  text-decoration: underline;
}

body.default a#n1, body.portfolio a#n2, body.projects a#n3, body#contact a#n4 {
  text-decoration: underline;
}

#content a {
  text-decoration: underline;
}
#content h2 a, #content h3 a {
  text-decoration: none;
}

h2 {
  border-bottom: 1px solid #231f20;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  margin: 0.2em 0 0.5em;
}

h3 {
  letter-spacing: 0.1em;
}

#feature h2 {
  color: #978440;
  font-family: Calibri, "Helvetica Neue", Helvetica, "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  width: 460px;
}
#feature h3 {
  margin-bottom: 1em;
}
#feature h4 {
  font-style: italic;
  font-weight: normal;
  line-height: 1;
}
#feature p {
  margin-bottom: 0.1em;
}
#feature p + p {
  text-indent: 1em;
}
#feature blockquote {
  background: #66502b;
  color: white;
  float: right;
  margin: 10px 12px 20px 490px;
  padding: 5px 20px 5px;
  width: 420px;
}
#feature blockquote a, #feature blockquote cite {
  color: white;
  display: block;
  font-size: 0.85em;
  text-align: right;
}

#completed, #ingredients {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0.3em 0 0.4em;
}

#completed dt, #ingredients dt {
  display: inline;
  font-weight: bold;
}

#completed dt:after, #ingredients dt:after {
  content: ":";
}

#completed dd, #ingredients dd {
  display: inline;
}

blockquote em {
  font-style: normal;
}
blockquote p {
  font-family: Georgia, Times, Serif;
  font-size: 1.4em;
  font-style: italic;
}

#testimonial p {
  font-family: Georgia, Times, Serif;
  font-size: 1.4em;
  font-style: italic;
}

#feature blockquote cite, blockquote p.client, #testimonial p.client {
  margin-bottom: 0.5em;
}

html > body q {
  font-style: normal;
}

blockquote q {
  font-style: italic;
}
blockquote em {
  font-style: normal;
}

cite abbr, cite acronym, cite .caps {
  font-style: italic;
}

#content p:first-child:first-line {
  font-variant: small-caps;
  letter-spacing: 0.015em;
}

#description h2 {
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
}

#ancillary h2 {
  clear: left;
}
#ancillary li {
  float: left;
  margin: 5px 4px 5px 0;
}
#ancillary li a {
  float: left;
  border: 3px solid #231f20;
}
#ancillary li a:hover {
  border: 3px solid white;
}
#ancillary li img {
  float: left;
}
#ancillary ul {
  margin-left: 0;
}

.zemContactForm {
  font-size: 1.1em;
}
.zemContactForm li, .zemContactForm textarea {
  width: 10em;
}

#footer a {
  color: #cccccc;
  text-decoration: underline;
}
#footer h2 a {
  text-decoration: none;
}

#contacts {
  margin-bottom: 1em;
  color: #cccccc;
  border-bottom: none;
  margin-bottom: 0.1em;
}
#contacts h2 {
  border-bottom: none;
  margin-bottom: 0.1em;
}
#contacts p {
  float: right;
  margin-left: 20px;
  text-align: right;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.alt {
  font-family: "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
}

.notice {
  clear: both;
  float: none;
  font-size: 0.9em;
  max-width: 1000em;
  text-align: center;
}

.preview {
  clear: both;
  padding-top: 0.2em;
}
